includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false
    paths:
        - app
    level: 5
    excludePaths:
        analyseAndScan:
            - app/Http/Middleware/TrustProxies.php (?)
