includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false
    paths:
        - app
    level: 5
    stubFiles:
        - stubs/smbclient.php
    ignoreErrors:
        -
            message: '#^Function smbclient_[a-z_]+ not found\.$#'
            path: app/Services/Nas/SmbNasDriver.php
        -
            message: '#^Constant SMBCLIENT_[A-Z_]+ not found\.$#'
            path: app/Services/Nas/SmbNasDriver.php
    excludePaths:
        analyseAndScan:
            - app/Http/Middleware/TrustProxies.php (?)
